{% extends "base.html" %}
{% load static %}
{% block content %}

About This Server
=================

Welcome to the GeoTabloid website!  This is the place you can test out and 
experiment with serving up Geopaparazzi's `Cloud Profiles <https://geopaparazzi.github.io/geopaparazzi/#_synchronization_of_geopaparazzi_datasets_in_the_cloud>`_.

`Geopaparazzi <https://play.google.com/store/apps/details?id=eu.hydrologis.geopaparazzi&hl=en>`_ is a great GIS field data collection app and a good server like this one can go a long way to easing your data management tasks.

This site is an example of the Geopaparazzi Reference Server, so if you like what you see and want to do more, 
head on over to the `Geopaparazzi Reference Server repository <https://github.com/geoanalytic/cookiecutter-geopaparazzi-server>`_ and get the code.

There are also blog posts if you want a more in depth explanation:

`A reference server for geopaparazzi cloud profiles <https://geoanalytic.github.io/a-reference-server-for-geopaparazzi-cloud-profiles/>`_

`A reference server for geopaparazzi cloud profiles - Part 2 <https://geoanalytic.github.io/a-reference-server-for-geopaparazzi-cloud-profiles-part-2/>`_


A Cautionary Note:
------------------

The data you upload will be deleted from this server after 7 days.  
  
  
    <footer class="footer">
      <div class="container">
        <span class="text-muted">This site was developed by GeoAnalytic Inc, &copy; 2018, all rights reserved.</span>
        <span style="float: right"><a href="http://www.geoanalytic.com" target="_blank"><img src="{% static 'images/geoa_micro.png' %}" width="89" height="50" alt="logo"></a></span>
      </div>
    </footer>
{% endblock content %}
